@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FastReport</h1>
    <p>Learn about <a href="https://youtu.be/2NTHpR2SN-A" target="_blank">FastReport</a>.</p>
    <p>Download Community Version <a href="https://github.com/FastReports/FastReport/releases/tag/v2022.3.0" target="_blank">FastReport</a>.</p>
    <p>Download <a href="/Home/StoredProcedureFastReport?id=1">example with Atored Procedure</a>.</p>
    <p>Download <a href="/Home/SetModelFastReport?id=1">example with Set Model</a>.</p>
</div>
